<% provide :title, t("views.user.signup.sign_up") %>
<% provide :button_text, t("views.user.signup.create_user") %>
<div class="main-content">
  <div class="container">
    <div class="info-manager">
      <div class="title-manager pull-left">
        <h2><%= t "views.user.signup.create_user" %></h2>
      </div>
      <div class="button-manager pull-right">
        <ul>
          <li>
            <%= link_to "#" do %>
              <i class="glyphicon glyphicon-export"></i>
              <%= t "views.user.export" %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="form-wrap">
      <%= form_for @user, url: admins_users_path do |f| %>
        <%= render "admins/shared/error_messages" %>
        <%= render "form", f: f %>
      <% end %>
    </div>
  </div>
</div>
