<%= form_for [:admins, @author] do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group row">
        <div class="col-md-4">
          <%= f.label :name, t("views.form_author.name"),
            class: "col-form-label" %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4">
          <%= f.label :image, t("views.form_author.image"),
            class: "col-form-label" %>
        </div>
        <div class="col-md-6">
          <%= f.file_field :image %>
        </div> 
      </div>
      <div class="form-group row">
        <div class="col-md-4">
          <%= f.label :gender, t("views.form_author.gender"),
            class: "col-form-label" %>
        </div>
        <div class="col-md-6">
          <%= f.select :gender, @gender %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4">
          <%= f.label :address, t("views.form_author.address"),
            class: "col-form-label" %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :address, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4">
          <%= f.label :description, t("views.form_author.des"),
            class: "col-form-label" %>
        </div>
        <div class="col-md-6">
          <%= f.text_area :description, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4">
          <%= f.label :publisher_id, t("views.form_publisher.name"),
            class: "col-form-label" %>
        </div>
        <div class="col-md-6">
        <%= f.select :publisher_id, @supports.publishers %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4">
          <%= f.label :books, t("views.form_book.name"),
            class: "col-form-label" %>
        </div>
        <div class="col-md-6">
        <%= f.select :book_ids, @supports.books %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-4">
          <%= f.submit yield(:button_text), class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
