<thead>
  <tr>
    <th><%= t "views.users.shows.list_books.book_name" %></th>
    <th><%= t "views.users.shows.list_books.date_return" %></th>
    <th><%= t "views.users.shows.list_books.date_borrow" %></th>
    <th><%= t "views.users.shows.list_books.date_status" %></th>
    <th><%= t "views.users.shows.list_books.reserve_day" %></th>
    <th class="action"><%= t "views.admins.borrow_books.change_status" %></th>
  </tr>
</thead>
<tbody>
  <% @borrow_books.each do |borrow_book| %>
    <tr class="background-tr">
      <td><%= link_to borrow_book.book.name, book_path(borrow_book.book) %></td>
      <td><%= borrow_book.date_return %></td>
      <td><%= borrow_book.date_borrow %></td>
      <td>
        <%= t "views.users.shows.list_books.#{borrow_book.status}" %>
      <td>
        <%= reserve_day borrow_book %>
      <td>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button"
          data-toggle="dropdown"><%= t "views.admins.borrow_books.change_status" %></button>
          <ul class="dropdown-menu">
            <li><%= button_to t("views.admins.borrow_books.shows.btn_accept"),
              admins_borrow_book_path(borrow_book,
              status: :borrowing, book_id: borrow_book.book.id), method: :put %>
            </li>
            <li><%= button_to t("views.admins.borrow_books.shows.btn_reject"),
              admins_borrow_book_path(borrow_book, status: :reject), method: :put %>
            </li>
            <li><%= button_to t("views.admins.borrow_books.shows.btn_return"),
              admins_borrow_book_path(borrow_book, status: :return,
              book_id: borrow_book.book.id), method: :put %>
            </li>
            <li><%= button_to t("views.admins.borrow_books.shows.btn_delete"),
              admins_borrow_book_path(borrow_book,
              book_id: borrow_book.book.id), method: :delete %>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  <% end %>
</tbody>
